---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import ContactForm from '../components/ContactForm.astro';

const phoneNum = '254-541-7515';
const cards = [
	{
		icon: '/icons/tools.svg',
		title: 'Home Repair and Maintenance',
		text: 'From fixing a leaky faucet to patching up drywall, our team is equipped to handle a wide range of repair jobs around your house. We understand the importance of keeping your home in top condition. Let us help you maintain your home’s value and comfort!',
		btnText: 'Read More',
		link: '/home-repair-and-maintenance'
	},
	{
		icon: '/icons/wheelchair.svg',
		title: 'Safety & Mobility/Aging in Place',
		text: 'We specialize in home modifications that enhance safety and accessibility. Whether you need grab bars, ramp installation, or a bathroom remodel to accommodate mobility needs, our team ensures your home evolves with you.',
		btnText: 'Read More',
		link: '/safety-and-mobility'
	},
	{
		icon: '/icons/maintenance.svg',
		title: 'Maintenance',
		text: 'Regular upkeep can prevent major repairs down the line. We provide maintenance services that keep your home running smoothly, from gutter cleaning to weatherproofing.',
		btnText: 'Read More',
		link: '/maintenance'
	},
	{
		icon: '/icons/puzzle.svg',
		title: 'Assembly',
		text: 'Purchased new furniture or equipment and need help putting it together? Our skilled handymen are at your service to assemble your items quickly and correctly.',
		btnText: 'Read More',
		link: '/assembly'
	},
	{
		icon: '/icons/carpentry.svg',
		title: 'Carpentry',
		text: 'Our carpentry services can beautify your home with custom shelving, cabinets, and more. Enhance your living space with our bespoke woodworking solutions.',
		btnText: 'Read More',
		link: '/carpentry'
	}
]

---

<Layout title="CTX Handy Hands | Your Trusted Partner in Home Improvement and Repair">
	<main>
		<Hero 
			title="CTX Handy Hands"
			subtitle="Your Trusted Partner in Home Improvement and Repair"
			content="<b>Welcome to CTX Handy Hands</b> – your go-to experts for making your home the best it can be. With a focus on quality, reliability, and customer satisfaction, we tackle your home to-do list so you don't have to!"
			cta={{
				text: 'Get a Quote',
				link: '/contact'
			}}
		/>
		<div class="strip">
			<a href={"tel:+1"+phoneNum}>Call {phoneNum} Today</a>
		</div>
		<section class="services">
			<h2>Services</h2>
		{/* Flex container for top row */}
		<div class="card__row">
			{cards.slice(0, 3).map(({  icon, title, text, link, btnText }) => (
				<Card
					icon={icon}
					title={title}
					text={text}
					link={link}
					btnText={btnText}
				/>
			))}
		</div>

		{/* Flex container for bottom row */}
		<div class="card__row two">
			{cards.slice(3, 5).map(({  icon, title, text, link, btnText }) => (
				<Card
					icon={icon}
					title={title}
					text={text}
					link={link}
					btnText={btnText}
				/>
			))}
		</div>
		</section>
		<section class="about__banner">
			<div class="left">
				<img src="/worker.svg" alt="CTX Handy Hands" />
			</div>
			<div class="right">
				<h2>About CTX Handy Hands</h2>
				<p>CTX Handy Hands was founded on the principle of providing exceptional home maintenance and repair services to the communities of Temple, TX and the surrounding areas. Our team of skilled professionals is dedicated to delivering high-quality workmanship and customer service that exceeds expectations. We believe in honest communication, transparent pricing, and completing projects on time and within budget.</p>
				<Button 
          classes='no-hov-sec' 
          elementKind='link' 
          href={"tel:+1"+phoneNum}
          text='Call Now'
        />
			</div>
		</section>
		<ContactForm />
		<footer>
			<p>&copy; 2023 CTX HANDY HANDS | <a href={"tel:+1"+phoneNum}>{phoneNum}</a> SERVING TEMPLE, TX AND SURROUNDING AREAS</p>
		</footer>
	</main>
</Layout>

<style>

	footer {
		background: var(--prime-black-reverse);
		color: white;
		text-align: center;
		padding: 20px 0;
	}

	footer p {
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	footer a {
		color: white;
	}

	.services {
		padding: 40px 0;
		background: var(--page-bg-gradient);
	}

	.services h2 {
		margin: 0 auto 40px;
		color: #0D0F11;
		text-align: center;
		font-family: Roboto;
		font-size: 39px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	.about__banner {
		background: var(--prime-black);
		color: white;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 40px 0;
		flex-direction: row;
		gap: 18px;
	}

	.about__banner .right p {
		color: #FFF;
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.about__banner .left {
		width: fit-content;
	}

	.about__banner .right {
		width: 100%;
		max-width: 500px;
	}

	.about__banner h2 {
		margin: 0;
		color: #FFF;
		font-family: Roboto;
		font-size: 39px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	.card__row {
		display: flex;
		justify-content: center;
		gap: 5px;
		margin: 0 auto 5px;
		max-width: 1024px;
	}

	.card__row.two {
		max-width: 768px;
	}

	
	.strip {
		background: var(--prime-black-reverse);
		color: white;
		text-align: center;
		max-height: 58px;
		padding: 11px 0;
	}

	.strip a {
		color: white;
		transition: 0.5s;
		text-decoration: none;
		font-family: Inter;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	.strip a:hover {
		font-size: 32px;	
	}
</style>
